/*定义所有文字颜色为白色*/
* {
    color:white; 
}

/*定义背景颜色为黑，隐藏鼠标*/
body {
    background-color: black;
    cursor: none;
}

/*但是恢复实验前数据收集部分的鼠标*/
.non-experiment {
    background-color: gray;
    cursor: auto;
    padding: 15%;
}

/*定义实验指导语样式*/
.experiment-instruction {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 125%;
    font-family: Arial;
    /*display: flex;*/
}

/*定义实验材料样式*/
.experiment-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 600%;
    font-family: Arial;
    /*display: flex;*/
}

/*由于直接指定在css-classes里边框是不隐藏的，
所以在实验中写成了行内，叠加在上一个样式之上*/
.experiment-content-rotation {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 125%;
    font-family: Arial;
    border: 5px solid;
    height: 200px;
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*定义p元素居中对齐*/
p {
    text-align: center;
    vertical-align:auto;
}